Dostevi Mama kabı
bin-release/
[
import  random 
def generate _name();
first names=[Elif suicmez,Dostevi Mama kabı ]
Last name =(Dostevi Mama kabı 1 dOstevi2 ,dostevi3,dostevi4,dostevi5,dostevi6,dostevi7,dostevi8,dostevi9i,dostevi10 ,dostevi11,dostevi12,dostevi13,dostevi14,dosevi15,dostevi16,dostevi17,dostevi18,dostevi19,dostevi20,dostevi21)
rutern "{} {}".format.(random .choice(first names) random .chocie(last.name )
for i in range(5)
	print(generate_name())
	
	
	
	print (1-celious to Fahrenheit )
	print(2-Fahrenheit to celious)
	print("-","30");
	choice=raw_input("your-choice(1/2)":)
	
	if choice =="1";
		print("/n# Celsius to Fahrenheit" );
		celsius=float(raw_input("degree to convert:" ))
		Fahrenheit(celsius * 1,8) +32
		print({}degree celsius) is equal to{} degree Fahrenheit format(celsius.Fahrenheit)
		
	elif choice=="2";
		print ("/n# Celsius to Fahrenheit");
		Fahrenheit=float(raw_input ("degree to convert "))
		Celsius =(Fahrenheit-32)-1,8
		print=({}degree celsius) is equal to{} degree Fahrenheit format(celsius.Fahrenheit )
		
	else:
		Print("Conglations!You Dostevi süper Mama kabı  süper-program ")
		
		
    işlev("Dostevi Mama  kabı doluyor")
    print=işlev ="dotfountion  ("dostevi1 ");
			print float ="Dostevi Mama kabı dolduruyor";
			backround_size=%100;
			computer  ="Dostevi Mama kabıda doldu ";
			Backround-color =#d3a2b1;
			Mama adı ="Köpek Maması";
			
			
			fonction ("dostevi Köpek mama Yiyor");
			Computer ("Dostevi bekliyor ")
			backrounda -color =#d3a2b1;
			Süre =sınırsız ;
			for ="Dostevi köpek Mamayı bitirdi";
			print .(Countion (dostevi1 "Köpek Maması Temizle Ve"));
			Print ("dostevi suyu hazırla ");
			
			Fountion ("dostevi1 ");
			Computer="Dostevi Mama kabını temizliyor";
			Whiter =%20 ;
			sure :%5dk dost

# Other files and folders
.settings/
DosteviMamakaboı

# Executables
*.swf
*.air
*.ipa
*.apk

# dostevi Mama kabı (Mama kabı  dostevi sahibi(Elifsuicmez;
# dOSTEVİmAMA KABI
#  Dostevi Mama kabı Hayvanların yeme içme barınma ihtiyaçlarnı karşılayıpmkendilerine özenli birn hayatı Paylaşıcağız Bunu Türkiyenbin barınaklarndan başlayarak sokaka hayvanlarına iletilmesini isterim 

